*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.hide{
  display: none!important;
}




.App{
  width: 555px;
  min-height: 120px;

  margin: 120px auto;

  border: 1px solid black;
  border-radius: 5px;
}


.content{
  padding: 10px;
}



.todosWrapper{
  margin-top: 15px;
  
  overflow-x: hidden;

  transition: 1s;

  border: 1px solid rgba(0, 0, 0, 0.5);
}


.todosWrapper > div:nth-last-of-type(2n){
  background-color: rgb(207, 207, 207);
}
